<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <style>
        #mapid {
            height: 500px;
            width: 700px;
            margin: 10% 0 0 25%;
            border-radius: 15px;
            border-style: outset;
            border-color: slategray;

        }

        .info {
            padding: 10px 12px;
            font: 18px/20px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 9px;
            text-align: right;
        }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            font-size: 15px;
            color: #555;
        }

        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
    </style>

</head>
<body>

<div id="mapid"></div>

<script src="/js/countriesData.js"></script>
<script>
    var countriesData = [[${countriesData}]];
</script>

<script th:inline="javascript">

    var points = [[${points}]];

    var map = L.map('mapid', {
        doubleClickZoom: false
    }).setView([53.13, 23.16], 4);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // points.forEach(value => {
    //     L.marker([value.lat, value.lon]).addTo(map)
    //         .bindPopup(value.cases)
    // });

    var circles = [[${circles}]];

    var myMap = new Map();

    circles.forEach(value => {
        if (myMap.has(value.country)) {
            var mapValue = parseInt(myMap.get(value.country));
            myMap.delete(value.country);
            myMap.set(value.country, mapValue + parseInt(value.cases));
        } else {
            myMap.set(value.country, value.cases);
        }
    });

    // var latlngs = [
    //     [ // first polygon
    //         [
    //             [37, -109.05],
    //             [41, -109.03],
    //             [41, -102.05],
    //             [37, -102.04]
    //         ], // outer ring
    //         [
    //             [37.29, -108.58],
    //             [40.71, -108.58],
    //             [40.71, -102.50],
    //             [37.29, -102.50]
    //         ] // hole
    //     ],
    //     [ // second polygon
    //         [
    //             [41, -111.03],
    //             [45, -111.04],
    //             [45, -104.05],
    //             [41, -104.05]
    //         ]
    //     ]
    // ];
    // var polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);
    // // zoom the map to the polygon
    // map.fitBounds(polygon.getBounds());
    //
    // // create a red polygon from an array of LatLng points
    // var latlngs = [
    //     [ // first polygon
    //         [
    //             [37, -109.05],
    //             [41, -109.03],
    //             [41, -102.05],
    //             [37, -102.04]
    //         ], // outer ring
    //         [
    //             [37.29, -108.58],
    //             [40.71, -108.58],
    //             [40.71, -102.50],
    //             [37.29, -102.50]
    //         ] // hole
    //     ],
    //     [ // second polygon
    //         [
    //             [41, -111.03],
    //             [45, -111.04],
    //             [45, -104.05],
    //             [41, -104.05]
    //         ]
    //     ]
    // ];
    // var polygon = L.polygon(latlngs, {color: 'orange'}).addTo(map);
    // // zoom the map to the polygon
    // map.fitBounds(polygon.getBounds());

    var colorsValues = [10, 200, 2500, 10000, 20000, 50000, 100000, 200000, 500000];

    function getColor(d) {
        return d > colorsValues[8] ? '#800026' :
            d > colorsValues[7] ? '#BD0026' :
                d > colorsValues[6] ? '#E31A1C' :
                    d > colorsValues[5] ? '#FC4E2A' :
                        d > colorsValues[4] ? '#fc7536' :
                            d > colorsValues[3] ? '#ff9345' :
                                d > colorsValues[2] ? '#FEB24C' :
                                    d > colorsValues[1] ? '#FED976' :
                                        d > colorsValues[0] ? '#ffeda0' :
                                            'rgba(255,255,255,0)';
    }

    function styleCountry(feature) {
        var result = myMap.get(feature.properties.name);
        if (result !== undefined) {
            return {
                fillColor: getColor(result),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        } else {
            return {
                fillColor: 'rgba(35,252,13,0)',
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }
    }

    var geojson;

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
        info.update(layer.feature.properties);
    }

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    geojson = L.geoJson(countriesData, {
        style: styleCountry,
        onEachFeature: onEachFeature
    }).addTo(map);

    var info = L.control();

    info.onAdd = function () {
        this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
        this.update();
        return this._div;
    };

    // method that we will use to update the control based on feature properties passed
    info.update = function (props) {
        this._div.innerHTML = '<h4>COVID-19 cases</h4>' + (props ?
            '<b>' + props.name + '</b><br />' + myMap.get(props.name) + ' people'
            : 'Hover over a country');
    };

    info.addTo(map);

    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'info legend'),
            grades = [0, colorsValues[0], colorsValues[1], colorsValues[2], colorsValues[3], colorsValues[4], colorsValues[5], colorsValues[6]],
            labels = [];

        // loop through our density intervals and generate a label with a colored square for each interval
        for (var i = 0; i < grades.length; i++) {
            div.innerHTML +=
                '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
        }

        return div;
    };

    legend.addTo(map);

    // circles.forEach(value => {
    //     random = Math.floor(Math.random() * 16777215).toString(16);
    //     randomColor = "#" + random;
    //
    //     L.circle([value.lat, value.lon], {
    //             radius: value.radius,
    //             color: randomColor,
    //             fill: true,
    //             fillColor: randomColor
    //         }
    //     ).addTo(map).bindPopup("<b class='center'>" + value.country + " " + value.province + "</b>" + "<br>Ilość zarażonych: <br>" + value.cases);
    // });
</script>
</body>
</html>