<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <style>
        #mapid {
            height: 900px;
        }

        .center {
            text-align: center
        }
    </style>

</head>
<body>

<div id="mapid"></div>

<script src="/js/countriesData.js"></script>
<script>
    var countriesData = [[${countriesData}]];
</script>

<script th:inline="javascript">

    var points = [[${points}]];

    var map = L.map('mapid', {
        doubleClickZoom: false
    }).setView([53.13, 23.16], 4);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // points.forEach(value => {
    //     L.marker([value.lat, value.lon]).addTo(map)
    //         .bindPopup(value.cases)
    // });

    var circles = [[${circles}]];

    var myMap = new Map();

    circles.forEach(value => {
        if (myMap.has(value.country)) {
            var mapValue = parseInt(myMap.get(value.country));
            myMap.delete(value.country);
            myMap.set(value.country, mapValue + parseInt(value.cases));
        } else {
            myMap.set(value.country, value.cases);
        }
    });

    // var latlngs = [
    //     [ // first polygon
    //         [
    //             [37, -109.05],
    //             [41, -109.03],
    //             [41, -102.05],
    //             [37, -102.04]
    //         ], // outer ring
    //         [
    //             [37.29, -108.58],
    //             [40.71, -108.58],
    //             [40.71, -102.50],
    //             [37.29, -102.50]
    //         ] // hole
    //     ],
    //     [ // second polygon
    //         [
    //             [41, -111.03],
    //             [45, -111.04],
    //             [45, -104.05],
    //             [41, -104.05]
    //         ]
    //     ]
    // ];
    // var polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);
    // // zoom the map to the polygon
    // map.fitBounds(polygon.getBounds());
    //
    // // create a red polygon from an array of LatLng points
    // var latlngs = [
    //     [ // first polygon
    //         [
    //             [37, -109.05],
    //             [41, -109.03],
    //             [41, -102.05],
    //             [37, -102.04]
    //         ], // outer ring
    //         [
    //             [37.29, -108.58],
    //             [40.71, -108.58],
    //             [40.71, -102.50],
    //             [37.29, -102.50]
    //         ] // hole
    //     ],
    //     [ // second polygon
    //         [
    //             [41, -111.03],
    //             [45, -111.04],
    //             [45, -104.05],
    //             [41, -104.05]
    //         ]
    //     ]
    // ];
    // var polygon = L.polygon(latlngs, {color: 'orange'}).addTo(map);
    // // zoom the map to the polygon
    // map.fitBounds(polygon.getBounds());

    function getColor(d) {
        return d > 500000 ? '#800026' :
            d > 200000 ? '#BD0026' :
                d > 100000 ? '#E31A1C' :
                    d > 50000 ? '#FC4E2A' :
                        d > 20000 ? '#fc7536' :
                            d > 10000 ? '#ff9345' :
                                d > 2500 ? '#FEB24C' :
                                    d > 200 ? '#FED976' :
                                        d > 10 ? '#ffeda0' :
                                            '#23fc0d';
    }

    function styleCountry(feature) {
        var result = myMap.get(feature.properties.name);
        if (result !== undefined) {
            return {
                fillColor: getColor(result),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        } else {
            return {
                fillColor: 'rgba(35,252,13,0)',
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }
    }

    var geojson;

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
    }

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
    }

    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    geojson = L.geoJson(countriesData, {
        style: styleCountry,
        onEachFeature: onEachFeature
    }).addTo(map);

    circles.forEach(value => {
        random = Math.floor(Math.random() * 16777215).toString(16);
        randomColor = "#" + random;

        L.circle([value.lat, value.lon], {
                radius: value.radius,
                color: randomColor,
                fill: true,
                fillColor: randomColor
            }
        ).addTo(map).bindPopup("<b class='center'>" + value.country + " " + value.province + "</b>" + "<br>Ilość zarażonych: <br>" + value.cases);
    });
</script>
</body>
</html>